<header id="l-header">
    <div class="container header-content">
        <div class="logo-section">
            <div class="brand">
                <h1>{{ site.name }}</h1>
            </div>
            <div class="shoutbox">
                {% for line in site.shout %}
                <p>{{ line }}</p>
                {% endfor %}
            </div>
        </div>
        <div class="navicon">
            <a href="javascript:void(0)"><span class="material-icons">menu</span></a>
        </div>
        <div class="navbar">
            <nav class="main-nav">
                <ul>
                    <li><a href="{{ '/' | relative_url }}">HOME</a></li>
                    <li class="has-subnav">
                        <a href="javascript:void(0)">POST <span class="material-icons">expand_more</span></a>
                        <ul class="subnav">
                            <li><a href="{{ '/category' | relative_url }}">CATEGORY</a></li>
                            <li><a href="{{ '/tag' | relative_url }}">TAG</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ '/series' | relative_url }}">SERIES</a></li>
                    <li><a href="{{ '/about' | relative_url }}">ABOUT</a></li>
                </ul>
            </nav>
            <div class="search-and-theme">
                <div class="search">
                    <form>
                        <div class="search-container">
                            <input id="search-input" name="search" type="text" placeholder="Search...">
                            <button type="submit" class="search-icon"><span class="material-icons">search</span></button>
                        </div>
                    </form>
                </div>
                <div class="theme-switcher">
                    <button id="theme-toggle" class="theme-toggle-button"><span class="material-icons">dark_mode</span></button>
                </div>
            </div>
        </div>
    </div>
</header>