/**
 * ----------------------------------------------------------------------------------------
 * Footer style
 * ----------------------------------------------------------------------------------------
 */
#l-footer {
    background-color: var(--bg);
    color: var(--text);
    margin-top: 5rem;
    padding: 1.5rem;

    h3 {
        margin-bottom: 0.5rem;
    }

    .rss {
        font-size: 4rem;
    }

    #legal {
        margin-top: 3rem;
        color: var(--muted);
    }
}