/**
 * ----------------------------------------------------------------------------------------
 * Header style
 * ----------------------------------------------------------------------------------------
 */
#l-header {
    background-color: var(--border-2); /* Always deep darkest navy */
    color: var(--heading);

    h1 {
        margin-top: 0rem;
        margin-bottom: -3rem;
        font: normal small-caps bold 17rem/17rem "verdana",helvetica, sans-serif;
        letter-spacing: -0.7rem;
        margin-left: -2rem;
    }

        p {
            font: normal bold 3rem/3rem "verdana",sans-serif;
            text-align: right;
            margin: 3rem;
            color: var(--heading);
    }

    li > a {
        display: block;
    }

    .navbar {
        background-color: var(--bg);

        i {
            position: absolute;
            top: 1.9rem;
            right: 2.5rem;
            color: var(--text);
        }
    }

    .navicon {
        display: none;
    }

    nav > ul > li {
        width: 25%;
        // height: 5rem;
        float: left;
        text-align: center;
        font-size: 2rem;
        line-height: 5rem;
        border-right: 1px solid var(--border);
        padding: 0;
    }

    nav > ul > li:hover {
        background: #ccc;
    }

    .subnav {
        max-height: 5rem;
    }

    .subnav li {
        display: none;
        position: relative;
        z-index: 100;
        border-top: 1px solid var(--heading);
        background-color: var(--surface);
    }

    .subnav li:hover {
        background-color: var(--muted-3);
    }

    .subnav:hover li {
        display: block;
    }

    #search-input {
        height: 3rem;
        margin-top: 1rem;
        width: 100%;
        border: 0;
        border-radius: 45px;
        padding-left: 2rem;
        color: var(--text);
        border: 1px solid var(--border);
    }

    #search-input:focus {
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        outline: none;
    }
}

@media (max-width:1200px) {
    #l-header {
        p {
            display: none;
        }
    }
}

@media (max-width:992px) {
    #l-header {
        margin-bottom: 6rem;

        .logo {
            margin-bottom: -7rem;
        }

        p {
            display: none;
        }

        nav > ul > li {
            border-bottom: 1px solid #e0e0e0;
        }

        div.search {
            margin-bottom: 1.5rem;
            border-top: 1px solid var(--heading);
        }

        .navbar {
            position: relative;
            top: 5.6rem;
        }
    }
}

@media (max-width: 768px) {
    #l-header {
        margin-bottom: 0;
        height: 8rem;

        h1 {
            font-size: 8rem;
            line-height: 9.8rem;
            letter-spacing: -0.7rem;
            margin-left: -0.9rem;
        }

        .navbar {
            display: none;
            height: 6rem;
            position: absolute;
            top: 3.9rem;
            width: 100%;
            z-index: 200;
        }

        .subnav {
            height: auto;
        }

        .subnav li {
            background: var(--muted-2);
        }

        .subnav li:hover {
            background: var(--muted-2-dark);
        }

        .navicon {
            display: block;
            font-size: 3rem;
            height: 4rem;
            padding-top: 2.4rem;
            text-align: right;
            padding-right: 2rem;
            position: absolute;
            top: 0;
            width: 100%;
            padding-top: 0;
            background-color: var(--bg);
        }

        nav > ul > li {
            text-align: center;
            background-color: var(--bg);
            width: 100%;
            margin-right: 2rem;
            border-bottom: 1px solid var(--border);
        }

        nav > ul > li:hover {
            background: var(--bg-dark);
        }

        .search {
            background-color: var(--bg);
            padding-bottom: 1rem;
        }

        .theme-switcher {
            .switch {
                position: relative;
                display: inline-block;
                width: 60px;
                height: 34px;
            }

            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

            .slider {
                position: absolute;
                cursor: pointer;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background-color: #ccc;
                transition: .4s;
                border-radius: 34px;
            }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                transition: .4s;
                border-radius: 50%;
            }

            input:checked + .slider {
                background-color: #2196F3;
            }

            input:checked + .slider:before {
                transform: translateX(26px);
            }
        }
    }
}
